@import '../../styles/variables.scss';

.wrap-content-content-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45% 0 0 0;
    margin: 0 auto;
    width: 80%;
}

@media (min-width: $landscape-phones-width) {
    .wrap-content-content-portfolio {
        padding: 260px 0 0 0;
    }
}


@media (min-width: $desktop-width) {
    .wrap-content-content-portfolio {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 220px 0 0 0;
    }
}

