    .star {
    position: relative;
    z-index: 5;
    top: 50px;
    left: 0;
    background-color: #fff;
    width: 1px;
    height: 1px;
    box-shadow: 0 0 0 5px rgba(#fff, .02),
                0 0 0 10px rgba(#fff, .05);
    border-radius: 50%;
    animation: shooting 5s linear infinite;
    opacity: 0;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 1px;
      width: 100px;
      height: 1px;
      background: linear-gradient(to right, rgba(#000, 0) 0%,rgba(#fff, .4) 100%);    
    }
  }
  

  
  .star-2 {
    top: 100px;
    left: -100px;
    animation: shooting 8s 1s linear infinite;
  }
  
  .star-3 {
    top: 250px;
    left: -250px;
    animation: shooting 3s 2s linear infinite;
  }
  
  .star-4 {
    top: 50px;
    left: -50px;
    animation: shooting 3s 2s linear infinite;
  }
  
  .star-5 {
    top: 150px;
    left: -150px;
    animation: shooting 3s 2s linear infinite;
  }
  
  // Passing stars Animation
  
  @keyframes shooting {
    0% { 
      transform: translate(-100px, -100px) rotate(45deg) scale(1);
      opacity: 1;
    }
    
    90% { 
      transform: translate(calc(100% + 300px), calc(100% + 300px)) rotate(45deg) scale(1.5);
      opacity: 0;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  // Astronaut launch bubbles Animation
  
  @keyframes bubbles {
    0% {
      box-shadow: 130px -20px 0 -10px #A682FF,
                  110px 25px 0 -5px #5887FF,
                  170px 35px 0 5px #55C1FF,
                  150px 45px 0 -15px #a0f8fe,
                  175px -15px 0 5px #5887FF,
                  145px 10px 0 10px #715AFF,
                  100px 0 0 0 #a0f8fe;
    }
    
    20% {
      box-shadow: 130px -20px 0 -30px #A682FF,
                  110px 25px 0 -15px #5887FF,
                  170px 35px 0 -15px #55C1FF,
                  160px 45px 0 -55px #a0f8fe,
                  175px -15px 0 -5px #5887FF,
                  145px 10px 0 0 #715AFF,
                  100px 0 0 10px #a0f8fe;
    }
    
    40% {
      box-shadow: 130px -20px 0 -20px #A682FF,
                  110px 25px 0 -10px #5887FF,
                  170px 35px 0 10px #55C1FF,
                  160px 45px 0 -45px #a0f8fe,
                  175px -15px 0 5px #5887FF,
                  145px 10px 0 -5px #715AFF,
                  100px 0 0 -10px #a0f8fe;
    }
    
    60% {
      box-shadow: 130px -20px 0 -40px #A682FF,
                  110px 25px 0 -25px #5887FF,
                  170px 35px 0 -10px #55C1FF,
                  160px 45px 0 -15px #a0f8fe,
                  175px -15px 0 -15px #5887FF,
                  145px 10px 0 15px #715AFF,
                  100px 0 5px 0 #a0f8fe;
    }
    
    80% {
      box-shadow: 130px -20px 0 -30px #A682FF,
                  110px 25px 0 -20px #5887FF,
                  170px 35px 0 0px #55C1FF,
                  160px 45px 0 -15px #a0f8fe,
                  175px -15px 0 -20px #5887FF,
                  145px 10px 0 5px #715AFF,
                  100px 0 0 -20px #a0f8fe;
    }
    
    100% {
      box-shadow: 130px -20px 0 -10px #A682FF,
                  110px 25px 0 -5px #5887FF,
                  170px 35px 0 5px #55C1FF,
                  160px 45px 0 -15px #a0f8fe,
                  175px -15px 0 5px #5887FF,
                  145px 10px 0 10px #715AFF,
                  100px 0 0 0 #a0f8fe;
    }
  }
  
  // Astronaut launch shake Animation
  
  @keyframes shake {
    0%   { transform: rotate(0deg) }
    5%   { transform: rotate(5deg) }
    15%  { transform: rotate(-10deg) }
    25%  { transform: rotate(5deg) }
    35%  { transform: rotate(-5deg) }
    45%  { transform: rotate(5deg) }
    55%  { transform: rotate(-5deg) }
    60%  { transform: rotate(5deg) }
    100% { transform: rotate(0deg) }
  }