@import '../../styles/variables.scss';


.skills {
    display: flex;
    flex-direction: column;
    // margin-right: 4%;
    // margin-top: 50%;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    // width: 100%;
}
.skill-item {
    margin-bottom: 25px;
  }

.skill-title {
    font-size: $p-font-size-mobile;
    font-weight: 200;
    margin: 0;
}

.skill-item__text {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

  .progress {
    background-color:  rgb(114, 114, 114);
    border-radius: 3px;
    height: 5px;
  }
  .progess-bar {
    background-color:white;
    border-radius: 3px;
    height: 5px;
    animation: loading 2s;
}

.progess-html {
    width: 90%;
}
.progess-css {
    width: 70%;
}
.progess-js {
    width: 65%;
}
.progess-en {
    width: 45%;
}

.progess-react {
    width: 70%;
}

.progess-api {
    width: 55%;
}
.progess-node {
    width: 30%;
}
@keyframes loading {
    from {
        width: 0%;
    }
}

@media (min-width: $landscape-phones-width) {
    // .skill-item {
    //     margin-bottom: 25px;
    // }
    .skill-title {
        font-size: $p-font-size-small;
    }

}

@media (min-width: $tablet-width) {
    .skill-title {
        font-size: $p-font-size-medium;
    }
}

@media (min-width: $desktop-width) {
    .skill-title {
        font-size: $p-font-size-large;
    }
    // .skill-item {
    //     margin-bottom: 15px;
    // }

    // .skills {  
    //     max-width: 250px;
    // }

    .skill-item {
            margin-bottom: 15px;
        }

    .skills {  
        margin-left: 3%;
        height: auto;
        max-width: 200px;
    }

    .skill-item__text {
        font-size: 16px;
    }
}

@media (min-width: $large-desctop-width) {
    .skill-title {
        font-size: $p-font-size-very-large;
    }

    .skills {  
        max-width: 320px;
    }

}
