.fuu {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    z-index: 999999999;

    img {
        width: 50%;
    }

    
}

